<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Python Flask Calculator</title>

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    </head>

    <body>

        <div class="container">
            <div class="header">
                <h3 class="text-muted">Python Flask Calculator</h3>
            </div>

            <div class="jumbotron">
                <h1>Calculator App</h1>
                <a class="btn btn-lg btn-primary" href="calculator" role="button">Open calculator</a>
            </div>

            <footer class="footer">
                <p>&copy; Maria Kert 2017</p>
            </footer>

        </div>
    </body>
</html>